
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand"> <img  class="logo" src="assets/images/logo/logo.png" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" routerLink="inicio" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Inicio</a>
          <a class="nav-link" routerLink="registrarse" routerLinkActive="active-link" >Registrarse</a>
          <a class="nav-link" routerLink="iniciar-sesion" routerLinkActive="active-link" >Iniciar Sesion</a>
        </div>
      </div>
    </div>
</nav>