    <app-navbar-user></app-navbar-user>
    
    <!-- Contenedor de 5 imagenes -->
    <div class="Contenedor2">
        <h3>Beneficios:</h3>
        <div class="Contenedor2-1">
            <div class="Contenedor2-1-1">
                <img src="assets/images/sobre-nosotros/Seguridad.png" alt="Imagen-Seguridad">
            </div>
            <div class="Contenedor2-1-2">
                <img src="assets/images/sobre-nosotros/Confianza.png" alt="Imagen-Confianza">
            </div>
            <div class="Contenedor2-1-3">
                <img src="assets/images/sobre-nosotros/Eficiencia.png" alt="Imagen-Eficiencia">
            </div>
            <div class="Contenedor2-1-4">
                <img src="assets/images/sobre-nosotros/Dinero.png" alt="Imagen-Dinero">
            </div>
            <div class="Contenedor2-1-5">
                <img src="assets/images/sobre-nosotros/Diversidad.png" alt="Diversidad">
            </div>
        </div>
    </div>
    <div class="Contenedor3">
        <h3>Sobre Nosotros</h3>
        <div class="Contenedor3-1">
            <div class="Contenedor3-1-1">
                <p>CrediCar es una página de crédito vehicular inteligente que tiene como objetivo brindar soluciones financieras para la adquisición de vehículos. Nuestra plataforma está diseñada para facilitar el proceso de solicitud y evaluación de créditos vehiculares, utilizando tecnología inteligente y eficiente.</p>
                <p>En CrediCar, entendemos que la compra de un vehículo es una decisión importante y queremos ayudar a nuestros clientes a hacerlo de manera segura y conveniente. Nuestro equipo de expertos en finanzas y tecnología trabaja arduamente para ofrecer una experiencia sin complicaciones y transparente.</p>
                <p>Nuestros servicios incluyen:</p>
    
                <ol>
                    <li><b>Evaluación de crédito: </b>Utilizamos algoritmos inteligentes y análisis de datos para evaluar la elegibilidad de los solicitantes de crédito vehicular. Esto nos permite ofrecer opciones de financiamiento personalizadas y competitivas.</li>
                    <li><b>Proceso de solicitud en línea: </b>Nuestra plataforma en línea permite a los usuarios completar fácilmente el proceso de solicitud desde la comodidad de su hogar. Los solicitantes pueden proporcionar la información necesaria y cargar los documentos requeridos de manera segura y rápida.</li>
                    <li><b>Asesoramiento personalizado: </b>Nuestro equipo de expertos en crédito vehicular está disponible para brindar asesoramiento personalizado y responder cualquier pregunta que los clientes puedan tener durante el proceso de solicitud. Estamos comprometidos en ayudar a nuestros clientes a tomar decisiones financieras informadas.</li>
                    <li><b>Seguridad de datos: </b>Nos tomamos muy en serio la seguridad de la información personal de nuestros clientes. Implementamos medidas de seguridad avanzadas para proteger los datos y garantizar la confidencialidad de la información proporcionada.</li>
                </ol>
    
                <p>
                    Estamos comprometidos en brindar un servicio confiable y eficiente a nuestros clientes, ayudándolos a obtener el crédito vehicular que necesitan de manera rápida y segura. En CrediCar, creemos en la importancia de la tecnología inteligente y la atención personalizada para ofrecer una experiencia excepcional a nuestros usuarios.
                </p>
                <p>
                    Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos. Estaremos encantados de ayudarte en tu proceso de adquisición de crédito vehicular.
                </p>
                <p>
                    Recuerda, en CrediCar, estamos aquí para hacer realidad tu sueño de tener un vehículo propio.
                </p>
            </div>
        </div>
    </div>

    