<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans&family=Roboto:wght@500&display=swap" rel="stylesheet">

<div class="Contenedor1"></div>

<!-- Contenedor: Contenedor2.1 y Contenedor2.2 -->
<div class="Contenedor2">
    <h3>Se ofrece este contenido</h3>
    <div class="Contenedor2y2">

        <!-- Contiene 2-1: Texto sobre el credito vehicular -->
        <div class="Contenedor2-1">
            <ul>
                <h3>Crédito Vehicular Inteligente</h3>
                <li>Financiamos tu auto en 24 y 36 meses.</li>
                <li>Reducción en mantenimiento.</li>
                <li>Servicio eficiente y seguro.</li>
                <li>Renueva tu auto cada 2, 3 o 4 años sin incovenientes.</li>
            </ul>
            
            <div class="Contenedor2-1-1">
                <!-- Icono dinero -->
                <center><img src="assets/images/inicio/IconDinero.png" alt="IconoDinero"></center>
                <center><a routerLink="/registrarse" routerLinkActive="active-link"><button >Adquirirlo</button></a></center>
            </div>
        </div>

        <!-- Contenedor2-2:Imagen de Inicio de la Pag -->
        <div class="Contenedor2-2">
            <!-- Imagen 2do contenedor -->
            <center><img src="assets/images/inicio/img-banner.jpg" alt="Imagen2-2"></center>
        </div>
    </div>
</div>

<!-- Contenedor testimonios -->
<div class="Contenedor3">
    <div class="Contenedor3-1">
        <!-- Persona1 -->
        <center><h4>Mark Zuckenberg</h4></center>
        <center><img src="assets/images/inicio/testimonios/Mark_fb.png" alt="Foto1"></center>
        <p>"I am really impressed with the service. I was able to get a loan to purchase my car quickly and without hassle. The process was simple and efficient, and the customer service team was friendly and professional at all times. I can now enjoy my new car with no worries, and<br> I would recommend this service to anyone looking for vehicle financing!"</p>
    </div>
    <div class="Contenedor3-2">
        <!-- Persona2 -->
        <center><h4>Paul Stanley</h4></center>
        <center><img src="assets/images/inicio/testimonios/Paul_Stanley.jpg" alt="Foto2"></center>
    <p>"Thanks to the smart vehicle credit option, I was able to acquire the car of my dreams. The process was completely online, with no paperwork or hassles. In addition, the interest rate was very competitive and the monthly payments fit my budget perfectly.<br> I am very pleased with the experience and would definitely use this service again in the future."</p>
    </div>
    <div class="Contenedor3-3">
        <!-- Persona3 -->
        <center><h4>Steve Jobs</h4></center>
        <center><img src="assets/images/inicio/testimonios/steve-jobs.png" alt="Foto3"></center>
        <p>"The smart car loan gave me the opportunity to own my own car without having to worry about a down payment. The process was transparent and agile, and I was able to obtain approval in a short time. In addition, the personalized advice I received was very helpful in choosing the best financing option.<br> I am very grateful for this credit alternative that has made my dream of owning my own car come true."</p>
    </div>
</div>

