<form [formGroup]="loginForm" (submit)="iniciarSesion()">
  <div class="login-container">
    <div class="login-box">
      <h2>Iniciar Sesión</h2>
        <div class="form-group">
          <label for="dni_usuario"></label>
          <input formControlName="dni_usuario" type="text" id="dni_usuario" placeholder="DNI">
        </div>
    
        <div class="form-group">
          <label for="contraseña_usuario"></label>
          <input formControlName="contraseña_usuario" type="password" id="contraseña_usuario" placeholder="Contraseña">
        </div>
        <button type="submit">Iniciar Sesión</button>
    </div>
</div>
</form>
  